/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
	color: #444;
}

#logo-container {
	font-family: "Bebas Neue", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Montserrat", sans-serif;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
	h1 {
		font-size: 28px;
		font-weight: bold;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

#parallaxImg {
	width: -webkit-fill-available;
}

#parallaxImgDiv {
  opacity: 0.5;
}

#search {
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: 5px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 3rem;
}

#map {
	width: 340px;
  height: 340px;
  margin-left: 10px;
}

#photo1,
#photo2,
#photo3,
#photo4,
#photo5,
#photo6 {
	height: 150px;
	padding-right: 10px;
}

#photosDiv {
	width: 50%;
	margin-left: auto;
	margin-right: 10px;
	left: auto;
	right: auto;
}

.btn {
  margin-top: 4px;
}
#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid gray; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 65%;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); 
  }
}